* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
    background-color: #edf2fb;
    overflow: auto;
}

header {
    padding: 2.5rem;
    text-align: center;
    background: #abc4ff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

header a {
    color: white;
    font-size: 2rem;
}

.left {
    width: 50%;
    float: left;
    height: 100%;
}

.right {
    width: 50%;
    float: right;
    height: 100%;
}

.input-section {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-items: center;
    margin: 0 auto;
    margin: 3rem 2.5rem;
    margin-left: 10rem;
    padding: 2rem;
    max-width: 50rem;
    background-color: #abc4ff;
    border-radius: 10px;
    color: white;
}

#inputBook h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.input {
    margin: 1rem 0;
}

.input-section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.input > label {
    display: inline-block;
    margin: 0.5rem 0;
}

#bookSubmit {
    width: 100%;
    cursor: pointer;
    padding: 8px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    color: white;
}

.search-section {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-items: center;
    margin: 0 auto;    
    margin: 3rem 2.5rem;
    margin-left: 10rem;
    padding: 1rem;
    max-width: 50rem;
    background-color: #abc4ff;
    border-radius: 10px;
    color: white;
}

.search-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.search-section > form {
        padding: 16px;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr 0.5fr;
        grid-gap: 10px;
}

.search-section > form > label {
    display: flex;
    align-items: center;
}

.search-section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search-section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book-shelf {
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-items: center;
    padding: 2rem;
    background-color: #abc4ff;
    border-radius: 10px;
    color: white;
    margin: 3rem 2.5rem;
    margin-right: 10rem;
}

#book1 {
    max-height: 25rem;
    overflow: auto;
}

#book2 {
    max-height: 25rem;
    overflow: auto;
}

.item {
    text-align: left;
    margin: 1.5rem;
    padding: 1rem;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.inner h3 {
    padding-bottom: 0.5rem;
}

.inner p {
    padding-bottom: 0.5rem;
}

.item button {
    padding: 8px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.doneBtn, .undo-button {
    margin-right: 1rem;
    background-color: green;
}

.deleteBtn {
    background-color: red;
}

.hidden {
    display: none;
}

